{% for bastion in groups['bastion_servers'] %}

Host {{ hostvars[bastion].ansible_host }}
  User ubuntu
  IdentityFile /home/ubuntu/k8s-infra.pem
  Hostname {{ hostvars[bastion].ansible_host }}
  StrictHostKeyChecking no

{% endfor %}

{% for master in groups['kube_masters'] %}

Host {{ hostvars[master].ansible_host }}
  User ubuntu
  IdentityFile /home/ubuntu/k8s-infra.pem
  ProxyCommand ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p ubuntu@${{ hostvars[groups['bastion_servers'][0]].ansible_host }} -i /home/ubuntu/k8s-infra.pem

{% endfor %}

{% for worker in groups['kube_workers'] %}

Host {{ hostvars[worker].ansible_host }}
  User ubuntu
  IdentityFile /home/ubuntu/k8s-infra.pem
  ProxyCommand ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p ubuntu@${{ hostvars[groups['bastion_servers'][0]].ansible_host }} -i /home/ubuntu/k8s-infra.pem

{% endfor %}