- hosts: "{{ groups['kube-master'][0] }}"
  tasks:
      - name: download admin config file
        fetch:
            src: /home/ubuntu/.kube/config
            dest: /tmp/special/
            flat: yes

- hosts: bastion-servers
  tasks:
      - name: create .kube directory
        become: yes
        become_user: ubuntu
        file:
            path: $HOME/.kube
            state: directory
            mode: 0755

      - name: copy admin config file
        copy:
            src: /tmp/special/config
            dest: /home/ubuntu/.kube/config
            owner: ubuntu

      - name: add Kubernetes apt-key
        apt_key:
            url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
            state: present

      - name: add Kubernetes APT repository
        apt_repository:
            repo: deb https://apt.kubernetes.io/ kubernetes-xenial main
            state: present
            filename: "kubernetes"

      - name: install kubectl
        apt:
            name: kubectl
            state: present
            force: yes

- hosts: 127.0.0.1
  connection: local
  tasks:
      - name: delete admin config from local
        file:
            path: /tmp/special
            state: absent
