- hosts: "{{ groups['kube_masters'][0] }}"
  become: yes
  gather_facts: false
  vars_files:
      - ./ansible-vars.yml
  tasks:
      - name: Initialize Cluster
        shell: kubeadm init --pod-network-cidr=192.168.0.0/16 --control-plane-endpoint "{{ load_balancer_dns }}:6443" --upload-certs
        register: init_command_raw
      - debug: var=init_command_raw.stdout_lines
        # args:
        #     chdir: $HOME
        #     creates: cluster_initialized.txt

      - name: Create .kube directory
        become: yes
        become_user: ubuntu
        file:
            path: $HOME/.kube
            state: directory
            mode: 0755

      - name: Copy admin.conf to user's kube config
        copy:
            src: /etc/kubernetes/admin.conf
            dest: /home/ubuntu/.kube/config
            remote_src: yes
            owner: ubuntu
