- hosts: kube_masters
  become: yes
  gather_facts: false
  tasks:
      - name: Initialize Cluster
        shell: kubeadm init --pod-network-cidr=192.168.0.0/16 >> cluster_initialized.txt
        args:
            chdir: $HOME
            creates: cluster_initialized.txt

      - name: Create .kube directory
        become: yes
        become_user: ubuntu
        file:
            path: $HOME/.kube
            state: directory
            mode: 0755

      - name: Copy admin.conf to user's kube config
        copy:
            src: /etc/kubernetes/admin.conf
            dest: /home/ubuntu/.kube/config
            remote_src: yes
            owner: ubuntu
