- hosts: kube_masters[0]
  become: yes
  gather_facts: false
  tasks:
      - name: Get join command
        shell: kubeadm token create --certificate-key {{ hostvars[groups['kube_masters'][0]].certificate_key }} --print-join-command
        register: master_join_command_raw
      - debug: var=master_join_command_raw.stdout_lines

      - name: Set join command as fact
        set_fact:
            master_join_command: "{{ master_join_command_raw.stdout_lines[0] }}"

- hosts: kube_masters[1:]
  become: yes
  gather_facts: false
  tasks:
      - name: Join cluster
        shell: "{{ hostvars[groups['kube_masters'][0]].master_join_command }} >> node_joined.txt"
        args:
            chdir: $HOME
            creates: node_joined.txt

      - name: Print output
        shell: cat $HOME/node_joined.txt
        register: node_joined
      - debug: var=node_joined.stdout_lines
