- hosts: 127.0.0.1
  connection: local
  gather_facts: false
  vars:
      key_file_path: "/home/ubuntu/k8s-infra.pem"
  roles:
      - { role: ssh-config }

- hosts: kube_masters:kube_workers
  become: yes
  gather_facts: false
  roles:
      - { role: docker }
      - { role: kubernetes-dependencies }

- import_playbook: initialize-cluster.yml

- hosts: "{{ groups['kube_masters'][0] }}"
  gather_facts: false
  roles:
      - { role: calico }

- import_playbook: prepare-bastion.yml
# - import_playbook: prepare-workers.yml
